body {
    background-color: rgba(192, 192, 243, 0.76);;
}

.main-div {
    box-sizing: border-box;
    width: 90%;
    height: 100vh;
    margin:auto;
    position: relative;
}

.background-div {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    margin-top: 40px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-div {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: 2px solid white;
    border-radius: 10px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(175, 172, 172);
    position: absolute;
    top: 100px;
    left: 20px;
}

.name-tag {
    position: absolute;
    top: 155px;
    left: 185px;
    color: white;
}

.link-div {
    box-sizing: border-box;
    margin-top: 13px;
    padding-left: 180px; 
}

.link-div a {
    text-align: center;
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 240px;
    padding: 5px 0;
    margin-right: 11px;
    border: 1px solid rgba(18, 18, 184, 0.76);
    border-radius: 30px;
}

.link-div a:hover {
    background-color: rgba(18, 18, 184, 0.76);
    color: white;
}

.link-div a:active {
    position: relative;
    top: 2px;
}

.diary-div {
    box-sizing: border-box;
    padding: 15px;
    margin: 0 1.5%;
    margin-bottom: 100px;
    width: 30%;
    height: 350px;
    background-color: aliceblue;
    border-radius: 15px;
    border: 2px solid rgba(121, 88, 26, 0.616);
    position: relative;
}
.diary-div:hover {
    transform: scale(1.1);
    background-color: rgba(97, 230, 168, 0.904);
    color: rgb(12, 12, 12);
}
.note-image-div {
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 100%;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.hold-link {
    width: 90%;
    text-align: center;
    position: absolute;
    top: 70px;
    opacity: 0.6;
}
.hold-link:hover {
    opacity: 1;
}

.update-link, .delete-link, .check-link {
    color: white;
    border-radius: 50%;
    display: inline-block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0 8px;
}
.update-link {
    background-color: rgb(47, 47, 160);
}
.delete-link {
    background-color: rgb(163, 24, 24);
}
.check-link {
    background-color: rgb(24, 92, 24);
}
.update-link:hover {
    background-color: blue;
}
.delete-link:hover {
    background-color: red;
}
.check-link:hover {
    background-color: green;
}
