#id_title, #id_image_url {
    box-sizing: border-box;
    width: 62%;
    padding: 5px;
}
.update-button {
    color: white;
    background-color: rgb(13, 78, 13);
    box-sizing: border-box;
    padding: 5px 10%;
    border-radius: 30px;
}
.update-button:hover {
    background-color: green;
}
.update-button:active {
    position: relative;
    top: 2px;
}