{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diary Application</title>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <!-- Local CSS -->
    {% block css_styles %} {% endblock %}
  </head>
  <body>
    <!-- Local Content -->
    {% block content %} {% endblock %} {% block js_logic %} {% endblock %}
  </body>
</html>
