{% extends "base.html" %}
{% load static %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'diary_app/css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="main-div">
        {% if background %}
            <div class="background-div" style="background-image: url('media/{{ background.image }}');"></div>
        {% else %}
            <div class="background-div" style="background-image: url({% static 'diary_app/images/back.jpg' %});"></div>
        {% endif %}
        
        {% if image %}
            <div class="image-div" style="background-image: url('media/{{ image.image }}');"></div>
        {% else %}
            <div class="image-div" style="background-image: url({% static 'diary_app/images/user.jpg' %});"></div>
        {% endif %}

        <h3 class="name-tag">{{ user.first_name }} {{ user.last_name }}</h3>
        <!-- link div -->
        <div class="link-div">
            <a href="{% url 'user-image' %}"><i class="bi bi-person-bounding-box"></i> update profile image</a>
            <a href="{% url 'new' %}">+ add Note</a>
            <a href="{% url 'all' %}">see all Notes</a>
            <a href="{% url 'back-image' %}"><i class="bi bi-image"></i> update theme image</a>
        </div>
        <!-- favourite notes div -->
        <h4 class="fw-bold mt-5">The Newest Diary Notes</h4>
        <hr>
        <div class="mt-4 mb-5 d-flex justify-content-center align-items-center">
            {% for note in notes %}
                <div class="diary-div">

                    {% if note.image_url %}
                        <div class="note-image-div" style="background-image: url('{{ note.image_url }}')"></div>
                    {% else %}
                        <div class="note-image-div" style="background-image: url('{% static 'diary_app/images/diary.jpg' %}')"></div>
                    {% endif %}

                    <p><strong>Title:</strong> {{ note.title }}</p>
                    <p><strong>Date:</strong> {{ note.date_time }}</p>
                    <p><strong>Author:</strong> {{ note.user.username }}</p>
                    <h6 class="hold-link">
                        <a class="check-link" href="{% url 'detail' pk=note.id %}"><i class="bi bi-door-open-fill"></i></a>
                        <a class="update-link" href="{% url 'update' pk=note.id %}"><i class="bi bi-pencil-fill"></i></a>
                        <a class="delete-link" href="{% url 'delete' pk=note.id %}"><i class="bi bi-trash"></i></a>
                    </h6>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}