{% extends "base.html" %}
{% load static %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'diary_app/css/update.css' %}">
{% endblock %}

{% block content %}
    <h3 class="text-center fw-bold mt-4 mb-3">Update Diary Note</h3>
    <form action="{% url 'update' note_id=note.id %}" method="POST" class="text-center mb-5">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <input type="hidden" id="hidden_username" name="hidden_username" value="{{ user.id }}">
        <button type="submit" class="update-button"><i class="bi bi-pencil-fill"></i> update note</button>
    </form>
{% endblock %}

{% block js_logic %}
    <script src="{% static 'diary_app/js/new.js' %}"></script>
{% endblock js_logic %}
