{% extends "base.html" %}
{% load static %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'diary_app/css/image.css' %}">
{% endblock %}

{% block content %}
<h3 class="text-center fw-bold mt-5 mb-5">Update Profile Image</h3>
<form action="{% url 'user-image' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" id="hidden_username" name="hidden_username" value="{{ user.id }}">
    <button type="submit" class="update-button"><i class="bi bi-person-bounding-box"></i> update image</button>
</form>
{% endblock %}

{% block js_logic %}
    <script src="{% static 'diary_app/js/image.js' %}"></script>
{% endblock %}